body {
  margin: 50px;
}
h1 {
  text-align: center;
  margin-bottom: 50px;
}
#box-student {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}
#design-data {
  border: dotted 1px #41403e;
}
#sorting_button {
  margin-top: 10px;
  padding: 10px;
}

button {
  align-self: center;
  background: transparent;

  transition: all 0.5s ease;
  color: #41403e;
  font-size: 1rem;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
  border: dotted 1px #41403e;
}

button:hover {
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
}

.delete-button {
  border: dotted 3px #ec4c37;
}
